.log-screen{
    padding: 30px 10% ;
}

.content{
    display: flex;
    flex-direction: column;
}

.side-by-side{
    display: flex;
    height: 8rem;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

.image-style {
    height: 5rem;
    width: auto;
}

.countermeasures-outer {
    display: flex;
    flex-direction: row;
}

.card-description {
    display: flex;
    height: 8rem;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper {
    position: relative;
    padding: 0  10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border: none !important;
    overflow: hidden;
}

.wrapper.calendar {
    background-image: url('../images/Calendar.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper.management {
    background-image: url('../images/Management.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper.incident-tag {
    background-image: url('../images/Incident.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper.department {
    background-image: url('../images/Department.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper.description-b {
    display: flex;
    flex-direction: row;
    min-height: 7rem;
    height: 100%;
    width: 100%;
    background-image: url('../images/Description.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper.countermeasures {
    min-height: 7rem;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

.wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content-incident {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.content-incident.calendar {

}

.content-incident.sender {

}

.content-incident.tag {

}

.content-incident.department-1 {

}

.content-incident.description-b {

}

.opacity-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 70%;
    background: #303030;
}

.content {
    z-index: 10;
    padding: 15px;
    box-sizing: border-box;
}

.select-group-log{
    width: 200px !important;
}

.incident_title{
    display: flex;
    justify-content: center;
}

.date-sender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
}



.textarea-context{
    height: 20rem;

}

.left-side{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    min-width: 400px;
}

.textarea-countermeasure{
    height: 10rem;
}

.textarea-log{
    justify-content: center;
    max-width: calc(100% - 0.5rem);
    min-height: 4rem;
    padding: 0.5rem;
}

.text-area-wr{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 150px;
}

h4 label, h4 ul{
    display: block;
}

.flex-div{
    display: flex;
}

.text-and-btn{
    width: 100%;
    float: left;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
}

.countermeasure-block {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}


.log-btn{
    display: flex;
    float: right;
    padding-top: 50px ;
    align-self: flex-end;
    padding-bottom: 30px;
}

.text-area-title{
    margin-bottom: 10px;
}

.tag-input{
    border-radius: 5px;
    border: black solid 1px;
    height: fit-content;
    background-color: #eaeaea;
    padding-top: 30px;
    margin-top: 30px;
}

.tag-title{
    margin-bottom: -20px;
}

.textarea-small{
    width: 250px !important;
}


/* List  from https://codepen.io/equinusocio/pen/OqpBKJ*/
.countermeasure-list {
    display: flex;
    flex-direction: column;
    counter-reset: index;
    padding: 0;
    max-width: calc(100% - 0.5rem);
}

/* List element */
.countermeasure-list-element {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    min-width: calc(100% - 100px);
    max-width: 100%;
}


/* Element counter */
.countermeasure-list-element::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to top, #424242, #ff9900);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Element separation */
.countermeasure-list-element + .countermeasure-list-element {
    border-top: 1px solid rgba(255, 150, 0, 0.4);
}

.countermeasure-list-outer {
    display: flex;
}

.btn.delete-button {
    position: relative;
    align-self: center;
    transform: scale(75%);
    padding-left: 5%;
    padding-right: 2.5%;
    min-width: 95px;
}

.btn.delete-button img {
    position:absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}