.log-screen{
    padding: 30px 10% ;
}


.incident_title{
    display: flex;
    justify-content: center;
}

.date-sender{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.textarea-context{
    height: 20rem;

}

.textarea-countermeasure{
    height: 10rem;
}

.textarea-log{
    justify-content: center;
    width: 60rem;
}

.text-area-wr{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 150px;
}

.log-btn{
    display: flex;
    float: right;
    padding-right: 4%;
    align-self: flex-end;
    padding-bottom: 30px;
}

.text-area-title{
    margin-bottom: 10px;
}

.tag-input{
    border-radius: 5px;
    border: black solid 1px;
    height: fit-content;
    background-color: #eaeaea;
    padding-top: 30px;
    margin-top: 30px;
}

.tag-title{
    margin-bottom: -20px;
}

.textarea-small{
    width: 250px !important;
}

