.incidentCreate {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.incidentCreate label {
    text-align: left;
    display: block;
}

.incidentCreate h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.incidentCreate input, .incidentCreate textarea, .incidentCreate select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.incidentCreate button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.incidentCreate button:hover{
    background: #c72b5b;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}